<!-- Book 2 Banner -->
<div id="book2-banner" class="book2-banner">
    <div class="banner-content">
        <div class="banner-text">
            <span class="banner-badge">OUT NOW!</span>
            <span class="banner-title">Book 2: The Safari Tourist Invasion</span>
            <span class="banner-subtitle">available on Amazon</span>
        </div>
        <a href="https://www.amazon.co.uk/ARCHIE-BERT-SAFARI-TOURIST-INVASION/dp/B0GDWR7R9T" target="_blank" class="banner-btn">
            <i class="fas fa-shopping-cart"></i>
            Buy Now
        </a>
        <button class="banner-close" onclick="closeBanner()">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>