<!-- Navigation -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="index.html">
                <img src="imgs/text-logo.png" alt="Archie & Bert" class="logo-image">
            </a>
        </div>
        <ul class="nav-menu">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="books.html" class="nav-link">Books</a></li>
            <li><a href="characters.html" class="nav-link">Characters</a></li>
            <li><a href="funschool.html" class="nav-link nav-link-funschool">Fun School <span class="nav-tag">Episodes</span></a></li>
            <li><a href="support.html" class="nav-link">Support</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
